<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <queries>
        <package android:name="com.apple.android.music" />
        <package android:name="com.spotify.music" />
        <package android:name="com.google.android.apps.youtube.music" />
        <package android:name="app.revanced.android.apps.youtube.music" />
        <package android:name="com.aspiro.tidal" />
    </queries>
</manifest>